/* Add your CSS to this file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial, "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header { background-color: white; }

header .container ul li {
    list-style: none;
    display: inline;
    padding: 0 8px;
}

header .container ul li a {
    color: #6b7280;
}

header .container ul li a:hover { color: #5A67D8; }

header .container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 60px;
}

.overview-hero { background-color: #E2E8F0; }

.overview-hero .container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 432px;
}

.overview-hero-text { max-width: 556px; }
.overview-hero-text h2 { margin-bottom: 32px; }


.learn-about .container h2 {
    font-size: 24px;
    color: #48BB78;
    margin-bottom: 24px;
}

.learn-about .container {
    padding: 24px 0;
}

.learn-about .container .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.card {
    padding: 16px;
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 1px hsla(0, 0%, 0%, 0.1);
} 

.card img {
    width: 100%;
    margin-bottom: 16px;
}

.card h3 {
    color: #48BB78;
    font-size: 21px;
    margin-bottom: 8px;
}

.testing { background-color: #4A5568; }

.testing .container {
    height: 432px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.testing-desciption { max-width: 624px;}
.testing-desciption h2 { margin-bottom: 32px; }

.cta {
    margin-left: 16px;
    text-align: center;
    padding: 16px 32px;
    background-color: #48BB78;
    border-radius: 5px;
    cursor: pointer;
}

.cta a { color: inherit; }


.stories .container {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

.stories .container article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
    margin: 16px 0;
    min-height: 200px;

}

.stories .container article img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.article-body { 
    padding-left: 32px;
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}

.article-body p a { color: #5A67D8; }
.stories .container h2 { color: #5A67D8; }


.newsletter { background-color: #48BB78; }

.newsletter .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 432px;
    color: white;
    gap: 24px;
}

.newsletter .container p { width: 500px; } 

.newsletter .container form { 
    width: 500px;
    display: flex;
    gap: 12px;
} 

.form-group { 
    flex-grow: 3;   
}

.newsletter .container form button {
    flex-grow: 1.5;
    background-color: #5A67D8;
    color: inherit;
}

.form-group input {
    width: 100%;
}

.newsletter .container form button, .form-group input  {
    padding: 20px 16px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial, "Noto Sans", sans-serif;
}

